.review-space{
    padding: 50px 0;

    .review-head{
        text-align: center;
    }

    .brand-slide{
        padding: 30px;
        .brand{
            background-color: $mainbgColor;
            padding: 20px;
            border-radius: 15px;
            box-shadow: $shadow;
            margin: 30px;
            padding: 30px;
            img{
                width: 100%;    
                height: 250px;               
                object-fit: contain;
            }

        }

    } 

}  