@media only screen and (max-width:1680px){
/*==========common-classes============*/
/*=============Color-variable===========*/
    html,body{
        font-size: 24px;
        line-height: 1.8;
    }
    .main-head{
        font-size: 2.5rem;
    }
    .secondary-head{
        font-size: 1.5rem;
    }
    .small-head{
        font-size: 1.2rem;
    }
    .para{
        font-size: 0.75rem;
    }
    .title{
        font-size: 0.75rem;
    }
    .dif-title{
        font-size: 0.75rem;
    }
    .max-width{
        max-width: 1366px;
        position: relative;
    }
    .max-width::before{
        content: "";
        margin-top: 30px;
        position: absolute;
        left: 0;    
        bottom: -60px;
        width: 100%;
        height: 5px;
        background-color: $bgColor;
    }

    .our-price-plan{

        .content-width{
            width: 50%;
            margin: 0 auto;
        }
    }
}
@media only screen and (max-width:1366px){
    html,body{
        font-size: 22px;
        line-height: 1.8;
    }
    .main-head{
        font-size: 2.5rem;
    }
    .secondary-head{
        font-size: 1.5rem;
    }
    .small-head{
        font-size: 1.2rem;
    }
    .para{
        font-size: 0.75rem;
    }
    .title{
        font-size: 0.75rem;
    }
    .dif-title{
        font-size: 0.75rem;
    }
    .max-width{
        position: relative;
        max-width: 1270px;
    }
    .max-width::before{
        content: "";
        margin-top: 30px;
        position: absolute;
        left: 0;    
        bottom: -60px;
        width: 100%;
        height: 5px;
        background-color: $bgColor;
    }
    
    .our-price-plan{

        .content-width{
            width: 60%;
            margin: 0 auto;
        }
    }

}

@media only screen and (max-width:1200px){
/*==========common-classes============*/
/*=============Color-variable===========*/
    html,body{
        font-size: 18px;
    }
    .main-head{
        font-size: 2.2rem;
    }
    .secondary-head{
        font-size: 1.3rem;
    }
    .small-head{
        font-size: 1.2rem;
    }
    .para{
        font-size: 0.85rem;
    }
    .title{
        font-size: 0.85rem;
    }
    .dif-title{
        font-size: 0.85rem;
    }

    .max-width{
        position: relative;
    }
    .max-width::before{
        content: "";
        margin-top: 30px;
        position: absolute;
        left: 0;    
        bottom: -60px;
        width: 100%;
        height: 5px;
        background-color: $bgColor;
    }

/*===============nav-section===============*/
/*===============header-section===============*/
    .home-space{

        .image{
            img{
                height: 530px;
            }
        }
       
        .home-intro{

            .icon{
                margin-right: 10px;
                width: 50px;
                height: 50px;

            }

           
            .skill-lab{

                .skill{
                    margin-right: 10px;
                    width: 50px;
                    height: 50px;

                    img{
                        width: 50%; 
                        height: 20px;
                    }
                }
            }
        }


    }



/*===============perfomence-section===============*/
/*.perform-space{

    .skill-one{

       
    }

}*/

/*===============service-section===============*/
/*===============resume-section===============*/
.resume-space{

    .resume-nav{
        
        li{

            a{
                font-size: 0.95rem;
            }

            a.active{
                padding: 20px;
            }
        }
    }
    .qulification{

        .rating{
            right: 20px;
        }
    }


}
/*===============testimonial-section===============*/
.testimonial-space{

    .whole-testi{

        .slide-testi-image{

            .person{
                padding: 15px;
            }
        
    
            .about-person{
                padding: 50px 20px 20px 20px;
            }
            .coma{
                width: 120px;
                height: 120px;
            }

        }
    }
}
/*===============process-section===============*/
.review-space{

    .brand-slide{

        .brand{
            margin: 15px;   
            padding: 30px;

            img{
                height: 180px;
            }

        }
    }
}


/*===============Plan-price-section===============*/
.our-price-plan{

    .price-nav{
        border-radius: 8px;

        a.active{
            border-radius: 8px;
        }
    
    }
}
/*===============blog-section===============*/
.our-blog{

    .blog{
        padding: 15px;
    }
}
/*===============contact-section===============*/
.contact-me{

    form{

        input, textarea{
            padding: 15px;
        }
        textarea{
            height: 160px;
        }

    }

}

/*===============footer-section===============*/


}
@media only screen and (max-width:991px) {
/*==========common-classes============*/
/*=============Color-variable===========*/
    html,body{
        font-size: 16px;
        line-height: 1.8;
    }
    .main-head{
        font-size: 2.5rem;
    }
    .secondary-head{
        font-size: 1.5rem;
    }
    .small-head{
        font-size: 1.2rem;
    }
    .para{
        font-size: 1rem;
    }
    .title{
        font-size: 1rem;
    }
    .dif-title{
        font-size: 1rem;
    }
    .max-width{
        position: relative;
    }
    .max-width::before{
        content: "";
        margin-top: 30px;
        position: absolute;
        left: 0;    
        bottom: -60px;
        width: 100%;
        height: 5px;
        background-color: $bgColor;
    }
/*===============nav-section===============*/
/*===============header-section===============*/
.home-space{

    .image{

        img{
            height: 550px;
        }
    }

}



/*===============perfomence-section===============*/
.perform-space{

    .skill-one{
        padding: 30px 15px;
        img{
            height: 220px;
            object-fit: cover;
        }
    }
}
/*===============service-section===============*/
/*===============resume-section===============*/
/*.resume-space{

    .resume-nav{

        li{
            
        }

    }

}*/

/*===============inforamtion-section===============*/
/*===============process-section===============*/
/*===============testi-section===============*/
.testimonial-space{

    .slide-testi-image{

        .person{

            img{
                height: 350px;
                object-fit: cover;
            }
        }


        .coma{
            display: none;
        }
        .person{
            margin: 0;
            margin-bottom: 35px;
        }
        .about-person{
            position: relative;
            margin: 0;
            margin-bottom: 20px;
        }


    }

}

/*===============Plan-price-section===============*/
.our-price-plan{

    .content-width{
        width: 65%;
    }
    .price{

        .tag{
            font-size: 0.95rem;
        }

        ul{
            padding: 0 15px;
        }
    }
}
/*===============blog-section===============*/
.our-blog{

    .blog{  
        padding: 30px 15px;
        margin-bottom: 30px;
        img{
            height: 220px;
            object-fit: cover;
        }

    }

}

/*===============contact-section===============*/
.contact-me{

    .connect-now{
        margin-bottom: 50px;

        img{
            height: 280px;
            object-fit: cover;
        }
    }

}
/*===============footer-section===============*/


}
@media only screen and (max-width:768px) {
/*===============nav-section===============*/
/*===============header-section===============*/
/*===============perfomence-section===============*/
/*===============service-section===============*/
/*===============resume-section===============*/
.resume-space{

    .resume-nav{
        flex-direction: column;
        li{
            width: 100%;
            a.active{
                padding: 15px 0;
            }
        }

    }

}
/*===============inforamtion-section===============*/
/*===============process-section===============*/

.testimonial-space{

    .slide-testi-image{

        .person{

            img{
                height: 300px;
                object-fit: cover;
            }
        }

        .about-person{

            p{
                overflow: hidden;
                -webkit-line-clamp: 3;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
            }
        }
    }
}
/*===============Plan-price-section===============*/
.our-price-plan{

    .content-width{
        width: 80%;
        margin: 0 auto;
    }
}

/*===============blog-section===============*/
/*===============contact-section===============*/
/*===============footer-section===============*/


}
@media only screen and (max-width:576px) {
.max-width::before{
    bottom: -25px;

}
/*===============nav-section===============*/
/*===============header-section===============*/
.home-space{
    padding-bottom: 0;
    .home-intro{
        padding-left: 10px; 
    }
}
.feature-space{
    padding-bottom: 0;
    .facility{
        margin-bottom: 30px;
    }
}
/*===============perfomence-section===============*/
.perform-space{
    padding-bottom: 0;

    .skill-one{
        margin-bottom: 30px;
    }

}
/*===============service-section===============*/
/*===============resume-section===============*/
.resume-space{
    padding-top: 50px;
    padding-bottom: 0;
    .qulification{
        margin: 0 15px 30px 15px;
    }

}
/*===============repairs-section===============*/

/*===============inforamtion-section===============*/
/*===============process-section===============*/
.testimonial-space{

    .slide-testi-image{
        margin: 0 -15px;
        .person{
            margin: 0 15px 35px 15px;

            img{
                height: 280px;
            }
        }
    
        .about-person{
            padding: 20px;
            margin: 0 15px 20px 15px;
        }
    }
}

/*===============Plan-price-section===============*/
.our-price-plan{

    .content-width{
        width: 95%;
        margin: 0 auto;
    }

    .price-nav{
        margin-bottom: 30px;
        a{
            width: 100%;
            padding: 15px 0;
        }
    }

}

/*===============brand-section===============*/
.review-space{

    .brand-slide{

        .brand{
            margin: 30px;
        }
    }

}
/*===============blog-section===============*/
.our-blog{
    padding-bottom: 0;

}
/*===============contact-section===============*/
.contact-me{
    padding-bottom: 0;
     .connect-now{
    
         img{
            height: 220px;
         }
    }
}
/*===============footer-section===============*/
.footer-space{

    .footer{

        img{    
            width: 90px;    
            height: 90px;
        }
    }

}

}
@media only screen and (max-width:480px) {
/*===============nav-section===============*/
/*===============header-section===============*/
.home-space{

    .image{
    
        img{
            height: 450px;
        }


    }
    .image::before{
        width: 95%;
        right: 0;
        transform: translateX(0);
    }



}

/*===============perfomence-section===============*/
.feature-space{

    .facility{

        p{
            overflow: hidden;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
        }

    }

}
/*===============service-section===============*/
/*===============repairs-section===============*/
.resume-space{

    .progress-meter{
        margin-left: -15px;
        margin-right: -15px;
    }
    .qulification{
        margin-left: -10px;
        margin-right: -10px;
        padding: 20px;
        padding-top: 30px;

        .rating{
            right: 10px;
           display: none;
        }

    }
    .left-line::before{
        display: none;

    }
    .qulification::before{
       display: none;

    }

}
/*===============inforamtion-section===============*/
/*===============process-section===============*/
.testimonial-space{

    .slide-testi-image{

        .person{

            img{
                height: 250px;
            }
        }
    }
}
/*===============Plan-price-section===============*/
.our-price-plan{

    .price{

        h2{
            overflow: hidden;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical
        }
        p{
            overflow: hidden;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical
        }
        ul{
            padding: 20px 0;
            margin: 0 -15px;
        }    
    }
    .content-width{
        width: 100%;
        margin: 0 auto;
    }
}
/*===============brand-section===============*/
.review-space{

    .brand-slide{

        .brand{
            margin: 30px;
        }
    }

}
/*===============blog-section===============*/
/*===============contact-section===============*/
.contact-me{ 
    .connect-now{ 
        padding: 25px 15px;
        .social-icon{ 
            .icon{
                margin-right: 12px;
            }
        }
    }
}
/*===============footer-section===============*/


}
@media only screen and (max-width:380px) {
/*===============nav-section===============*/
/*===============header-section===============*/
.home-space{

    .image{
    
        img{
            height: 400px;
        }


    }
    .image::before{
        width: 100%;
    }

}
/*===============perfomence-section===============*/
.feature-space{

    .facility{

        p{
            overflow: hidden;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical
        }

    }

}
/*===============service-section===============*/
/*===============repairs-section===============*/
/*===============inforamtion-section===============*/
/*===============process-section===============*/
/*===============Plan-price-section===============*/
/*===============brand-section===============*/
.review-space{

    .brand-slide{

        .brand{
            margin: 15px;
        }
    }

}
/*===============blog-section===============*/
/*===============contact-section===============*/
/*===============footer-section===============*/


}
