@media only screen and (max-width:1680px){
/*==========common-classes============*/
/*=============Color-variable===========*/
    html,body{
        font-size: 24px;
        line-height: 1.8;
    }
    .main-head{
        font-size: 2.5rem;
    }
    .secondary-head{
        font-size: 1.5rem;
    }
    .small-head{
        font-size: 1.2rem;
    }
    .para{
        font-size: 0.75rem;
    }
    .title{
        font-size: 0.75rem;
    }
    .dif-title{
        font-size: 0.75rem;
    }



}
@media only screen and (max-width:1366px){
    html,body{
        font-size: 24px;
        line-height: 1.8;
    }
    .main-head{
        font-size: 2.5rem;
    }
    .secondary-head{
        font-size: 1.5rem;
    }
    .small-head{
        font-size: 1.2rem;
    }
    .para{
        font-size: 0.75rem;
    }
    .title{
        font-size: 0.75rem;
    }
    .dif-title{
        font-size: 0.75rem;
    }
}

@media only screen and (max-width:1200px){
/*==========common-classes============*/
/*=============Color-variable===========*/
    html,body{
        font-size: 24px;
        line-height: 1.8;
    }
    .main-head{
        font-size: 2.5rem;
    }
    .secondary-head{
        font-size: 1.5rem;
    }
    .small-head{
        font-size: 1.2rem;
    }
    .para{
        font-size: 0.75rem;
    }
    .title{
        font-size: 0.75rem;
    }
    .dif-title{
        font-size: 0.75rem;
    }

}
@media only screen and (max-width:991px) {
/*===============nav-section===============*/
/*===============header-section===============*/
/*===============perfomence-section===============*/
/*===============service-section===============*/
/*===============repairs-section===============*/
/*===============inforamtion-section===============*/
/*===============process-section===============*/
/*===============Plan-price-section===============*/
/*===============blog-section===============*/
/*===============contact-section===============*/
/*===============footer-section===============*/


}
@media only screen and (max-width:768px) {
/*===============nav-section===============*/
/*===============header-section===============*/
/*===============perfomence-section===============*/
/*===============service-section===============*/
/*===============repairs-section===============*/
/*===============inforamtion-section===============*/
/*===============process-section===============*/
/*===============Plan-price-section===============*/
/*===============blog-section===============*/
/*===============contact-section===============*/
/*===============footer-section===============*/


}
@media only screen and (max-width:576px) {
/*===============nav-section===============*/
/*===============header-section===============*/
/*===============perfomence-section===============*/
/*===============service-section===============*/
/*===============repairs-section===============*/
/*===============inforamtion-section===============*/
/*===============process-section===============*/
/*===============Plan-price-section===============*/
/*===============blog-section===============*/
/*===============contact-section===============*/
/*===============footer-section===============*/


}
@media only screen and (max-width:480px) {
/*===============nav-section===============*/
/*===============header-section===============*/
/*===============perfomence-section===============*/
/*===============service-section===============*/
/*===============repairs-section===============*/
/*===============inforamtion-section===============*/
/*===============process-section===============*/
/*===============Plan-price-section===============*/
/*===============blog-section===============*/
/*===============contact-section===============*/
/*===============footer-section===============*/


}
@media only screen and (max-width:380px) {
/*===============nav-section===============*/
/*===============header-section===============*/
/*===============perfomence-section===============*/
/*===============service-section===============*/
/*===============repairs-section===============*/
/*===============inforamtion-section===============*/
/*===============process-section===============*/
/*===============Plan-price-section===============*/
/*===============blog-section===============*/
/*===============contact-section===============*/
/*===============footer-section===============*/


}