.our-price-plan{
    padding: 50px 0;

    .content-width{
        width: 40%;
        margin: 0 auto;
    }

    .price-nav{
        display: flex;
        @extend %flexCenter;
        background-color: $mainbgColor;
        box-shadow: $shadow;
        border-radius: 15px; 
        padding: 15px 0;
        border: none;
        a{
            width: 33%;
            display: inline-block;
            text-align: center; 
            font-size: 0.75rem;
            color: $textColor;

        }
        a.active{
            @extend %flexCenter;
            background-color: $mainbgColor;
            box-shadow: $shadow;
            border: none;
            border-radius: 15px;
            padding: 20px;
        }   


    }   
    .price{
        padding: 30px;
        background-color: $mainbgColor;
        box-shadow: $shadow;

        h2{
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .tag{
            color: $primeColor; 
            font-size: 0.75rem;
            box-shadow: $shadow;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
        }

        p{
            color: $secondheadColor;
        }

        ul{
            padding: 0 30px;
            li{
                color: $textColor;
                font-size: 0.75rem;
                padding: 5px 0;
            }


        }
        .order-btn{
            box-shadow: $shadow;
            color: $primeColor;
            font-size: 0.85rem;
            font-weight: 300;
            border-radius: 15px;
            padding: 18px 0;    
        
        }
        .order-bene{
            text-align: center;
            padding-top: 15px;

        }

    }


}