/*=============Color-variable===========*/
$mainbgColor: #212428;
$bgColor: #1E2024;
$primeColor: #F8024E;
$textColor: #c4cfde;
$headColor: #fff;
$secondheadColor: #878e99;
/*=============Font-variable===========*/
$headFont: 'Poppins', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
%mainBtn{
    padding: 12px 35px;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75rem;
    text-transform: uppercase;

}
%flexCenter{
    justify-content: center;
    align-items: center;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
html,body{
    font-size: 24px;
    width: 100%;
    height: 100%;
    font-family: $headFont;
    background-color: $mainbgColor;
}
.main-head{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: $secondaryFont;

}
.secondary-head{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: $secondaryFont;
}
.small-head{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: $secondaryFont;
}
.flex-content{
    display: flex;
    flex-wrap: wrap;
}
.title{
    color: $primeColor;
    font-size: 0.75rem;
    font-weight: 400;
}
.para{
    font-size: 0.75rem;
    font-weight: 400;
    color: $textColor;
}
.title{
    font-size: 0.75rem;
    color: $primeColor;
    font-weight: 400;
    text-transform: uppercase;

}
.max-width{
    max-width: 1366px;

}
/*===============nav-section===============*/
@import "navCustom";   
 
/*===============header-section===============*/
/*===============perfomence-section===============*/
/*===============service-section===============*/
/*===============repairs-section===============*/
/*===============inforamtion-section===============*/
/*===============process-section===============*/
/*===============article-section===============*/
/*===============contact-section===============*/
/*===============about-section===============*/
/*===============header-section===============*/
/*===============header-section===============*/