/*=============Color-variable===========*/
/*=============Font-variable===========*/
.contact-me .connect-now .social-icon .icon, .testimonial-space .whole-testi .slide-testi-image .slick-prev, .testimonial-space .whole-testi .slide-testi-image .slick-next, .home-space .home-intro .skill-lab .skill, .home-space .home-intro .icon, .navigation .nav-btn, .slick-dots li, .slick-dots {
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 24px;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color: #212428;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.main-head {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  color: #c4cfde;
}

.secondary-head {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  color: #c4cfde;
  line-height: 1.5;
}

.small-head {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  color: #c4cfde;
  line-height: 1.5;
}

.flex-content {
  display: flex;
  flex-wrap: wrap;
}

.para {
  font-size: 0.75rem;
  font-weight: 400;
  color: #878e99;
  padding-bottom: 10px;
  line-height: 1.5;
}

.title {
  font-size: 0.75rem;
  color: #F8024E;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

.dif-title {
  font-size: 0.75rem;
  color: #878e99;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.max-width {
  max-width: 1366px;
  position: relative;
}

.max-width::before {
  content: "";
  margin-top: 30px;
  position: absolute;
  left: 0;
  bottom: -60px;
  width: 100%;
  height: 5px;
  background-color: #1E2024;
}

.design-border {
  border-bottom: 3px solid #1E2024;
}

.slick-dots {
  display: flex;
  flex-wrap: wrap;
}
.slick-dots li {
  height: 12px;
  width: 12px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50%;
  margin-right: 20px;
}
.slick-dots li button {
  z-index: 0;
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  width: 100%;
  background-color: #212428;
  height: 100%;
  font-size: 0;
  border: none;
  border-radius: 50%;
  outline: none;
}
.slick-dots .slick-active {
  background-color: #F8024E;
}

/*===============nav-section===============*/
.navigation {
  width: 100%;
  background-color: #212428;
  padding: 18px 15px;
  align-items: center;
  justify-content: space-between;
  /*=======menu-btn======*/
}
.navigation .nav-whole {
  padding: 0 50px;
}
.navigation .nav-whole li {
  margin-left: 25px;
  text-transform: uppercase;
}
.navigation .nav-whole li a {
  font-size: 0.75rem;
  color: #c4cfde;
}
.navigation .nav-whole li .icon {
  color: #c4cfde;
  display: none;
}
.navigation .nav-btn {
  width: 50px;
  height: 50px;
  position: relative;
  transition: all 0.4s linear;
  display: flex;
  border-radius: 5px;
  display: none;
}
.navigation .nav-btn::before {
  content: " ";
  position: absolute;
  width: 85%;
  height: 7%;
  border-radius: 3px;
  background-color: #F8024E;
  box-shadow: 0 15px 0 0 #F8024E;
  transform: translateY(-15px);
  transition: all 0.4s linear;
}
.navigation .nav-btn::after {
  content: " ";
  position: absolute;
  width: 85%;
  height: 7%;
  background-color: #F8024E;
  transform: translateY(15px);
  border-radius: 3px;
  transition: all 0.4s linear;
}
.navigation .nav-btn.active::before {
  box-shadow: none;
  transform: translateY(0) rotate(45deg);
}
.navigation .nav-btn.active::after {
  transform: translateY(0) rotate(-45deg);
}

.nav-rel {
  width: 100%;
  position: relative;
  background-color: transparent;
}

.nav-fixed {
  background-color: #1E2024;
  position: fixed;
  z-index: 10;
  transition: all 0.4s linear;
  -webkit-animation: fixedAni 0.8s linear;
          animation: fixedAni 0.8s linear;
}

@-webkit-keyframes fixedAni {}

@keyframes fixedAni {}
@media only screen and (max-width: 1200px) {
  .navigation {
    position: relative;
  }
  .navigation .nav-whole {
    border-radius: 5px;
    border: 2px solid #F8024E;
    padding: 20px 0;
    padding-right: 20px;
    position: absolute;
    right: 20px;
    top: 80px;
    display: none;
    transition: all 0.8s linear;
    width: 250px;
    flex-direction: column;
    background-color: #1E2024;
    z-index: 0;
    -webkit-animation: navAni 0.5s linear;
            animation: navAni 0.5s linear;
  }
  .navigation .nav-whole li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    text-align: left;
  }
  .navigation .nav-whole li .icon {
    width: 35px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #F8024E;
    display: inline;
  }
  .navigation .slide {
    display: block;
    transition: all 0.8s linear;
  }
  @-webkit-keyframes navAni {
    0% {
      opacity: 0.5;
      box-shadow: 0 0 1px 0 #F8024E;
    }
    25% {
      opacity: 0.7;
      box-shadow: 0 0 3px 0 #F8024E;
    }
    75% {
      opacity: 0.9;
      box-shadow: 0 0 4px 0 #F8024E;
    }
    100% {
      opacity: 1;
      box-shadow: 0 0 5px 0 #F8024E;
    }
  }
  @keyframes navAni {
    0% {
      opacity: 0.5;
      box-shadow: 0 0 1px 0 #F8024E;
    }
    25% {
      opacity: 0.7;
      box-shadow: 0 0 3px 0 #F8024E;
    }
    75% {
      opacity: 0.9;
      box-shadow: 0 0 4px 0 #F8024E;
    }
    100% {
      opacity: 1;
      box-shadow: 0 0 5px 0 #F8024E;
    }
  }
  .navigation .nav-whole::before {
    content: "";
    width: 75%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background-color: #F8024E;
  }
  .navigation .nav-btn {
    display: flex;
  }
}
/*===============header-section===============*/
.home-space {
  padding: 50px 0;
  padding-top: 0;
}
.home-space .home-intro {
  border-bottom: 2px solid #1E2024;
  padding: 50px 0;
}
.home-space .home-intro h1 {
  color: #fff;
  line-height: 1.2;
}
.home-space .home-intro h1 span {
  color: #F8024E;
}
.home-space .home-intro .icon {
  margin-top: 20px;
  color: #c4cfde;
  width: 65px;
  height: 65px;
  background-color: #1E2024;
  margin-right: 25px;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 5px;
}
.home-space .home-intro .skill-lab {
  margin-top: 20px;
}
.home-space .home-intro .skill-lab .skill {
  margin-right: 25px;
  width: 65px;
  height: 65px;
  background-color: #1E2024;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 5px;
}
.home-space .home-intro .skill-lab .skill img {
  width: 75%;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-space .image {
  position: relative;
  z-index: 0;
}
.home-space .image img {
  width: 100%;
  height: 700px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-space .image::before {
  content: "";
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  position: absolute;
  bottom: 0;
  transform: translateX(10%);
  width: 85%;
  height: 80%;
  z-index: -1;
}

/*===============perfomence-section===============*/
.feature-space {
  padding: 50px 0;
}
.feature-space h2 {
  padding: 15px 0;
  color: #c4cfde;
}
.feature-space .facility {
  padding: 50px;
  border-radius: 15px;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  margin-bottom: 50px;
}
.feature-space .facility h3 {
  color: #c4cfde;
  padding-top: 10px;
}
.feature-space .facility svg {
  width: 50px;
  height: 50px;
  color: #F8024E;
  stroke: #F8024E;
  fill: none;
}

/*===============service-section===============*/
.perform-space {
  padding: 50px 0;
}
.perform-space .port-head {
  padding: 20px 0;
}
.perform-space .skill-one {
  padding: 25px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 10px;
}
.perform-space .skill-one img {
  width: 100%;
  border-radius: 10px;
}
.perform-space .skill-one .love-icon {
  color: #c4cfde;
  margin-right: -50px;
}
.perform-space .skill-one .love-icon i {
  margin-right: 5px;
}

/*===============repairs-section===============*/
.resume-space {
  padding: 50px 0;
  padding-top: 100px;
  z-index: 0;
}
.resume-space .left-line {
  position: relative;
}
.resume-space .resume-head {
  padding: 30px 0;
}
.resume-space .resume-nav {
  height: 100px;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 5px;
}
.resume-space .resume-nav li {
  text-align: center;
  width: 25%;
  color: #c4cfde;
}
.resume-space .resume-nav li a {
  color: #c4cfde;
  font-size: 0.75rem;
}
.resume-space .resume-nav li a.active {
  border-radius: 5px;
  background-color: #1E2024;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  color: #F8024E;
  padding: 30px 25px;
}
.resume-space .qulification {
  padding: 50px;
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  margin: 0 30px;
  margin-bottom: 50px;
  border-radius: 15px;
  position: relative;
}
.resume-space .qulification::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 50%;
  background-color: #222529;
  border: 5px solid #17191c;
  left: -60px;
  top: 60px;
}
.resume-space .qulification:hover:before {
  background-color: #F8024E;
}
.resume-space .qulification::after {
  content: "";
  border-radius: 5px;
  width: 100%;
  height: 7px;
  position: absolute;
  top: 70px;
  left: -52px;
  background-color: #17191c;
  z-index: -1;
}
.resume-space .left-line::before {
  content: "";
  width: 7px;
  height: 85%;
  position: absolute;
  background-color: #17191c;
  border-radius: 5px;
}
.resume-space .left-line::before {
  left: -20px;
  bottom: 30px;
}
.resume-space .progress-meter .skill-meter {
  width: 95%;
  margin: 0 auto;
  height: 10px;
  border-radius: 15px;
  margin-bottom: 40px;
  background-color: #1E2024;
  margin-top: 20px;
}
.resume-space .progress-meter .skill-meter .photo-skill {
  background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.resume-space .progress-meter .skill-meter .figma-skill {
  background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
  height: 100%;
  width: 95%;
  border-radius: 15px;
}
.resume-space .progress-meter .skill-meter .adobe-xd-skill {
  background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
  height: 100%;
  width: 60%;
  border-radius: 15px;
}
.resume-space .progress-meter .skill-meter .adobe-illus-skill {
  background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
  height: 100%;
  width: 70%;
  border-radius: 15px;
}
.resume-space .progress-meter .skill-meter .design-skill {
  background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
  height: 100%;
  width: 90%;
  border-radius: 15px;
}
.resume-space .progress-meter .skill-meter .html-skill {
  background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
  height: 100%;
  width: 85%;
  border-radius: 15px;
}
.resume-space .progress-meter .skill-meter .css-skill {
  background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
  height: 100%;
  width: 80%;
  border-radius: 15px;
}
.resume-space .progress-meter .skill-meter .js-skill {
  background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
  height: 100%;
  width: 90%;
  border-radius: 15px;
}
.resume-space .progress-meter .skill-meter .soft-skill {
  background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
  height: 100%;
  width: 75;
  border-radius: 15px;
}
.resume-space .progress-meter .skill-meter .plugin-skill {
  background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
  height: 100%;
  width: 70%;
  border-radius: 15px;
}
.resume-space .progress-meter span {
  padding: 15px 15px 30px 15px;
}

/*===============inforamtion-section===============*/
.testimonial-space {
  padding: 50px 0;
}
.testimonial-space .testi-head {
  text-align: center;
  padding: 30px 0;
}
.testimonial-space .whole-testi .slide-testi-image {
  position: relative;
}
.testimonial-space .whole-testi .slide-testi-image .person {
  margin: 30px 0;
  margin-left: 50px;
  padding: 30px;
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 15px;
}
.testimonial-space .whole-testi .slide-testi-image .person img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}
.testimonial-space .whole-testi .slide-testi-image .person h3 {
  padding-bottom: 0;
}
.testimonial-space .whole-testi .slide-testi-image .about-person {
  margin: 30px 0;
  margin-right: 50px;
  position: absolute;
  bottom: 0;
  padding: 50px 40px;
  background-color: #212428;
  border-radius: 25px;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.testimonial-space .whole-testi .slide-testi-image .about-person h3 {
  padding-bottom: 0;
  line-height: 0;
}
.testimonial-space .whole-testi .slide-testi-image .about-person span {
  padding-bottom: 20px;
}
.testimonial-space .whole-testi .slide-testi-image .about-person p {
  padding: 30px 0 0 0;
  position: relative;
}
.testimonial-space .whole-testi .slide-testi-image .about-person p:after {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  width: 100%;
  height: 2%;
  background-color: #1c1e22;
}
.testimonial-space .whole-testi .slide-testi-image .slick-prev, .testimonial-space .whole-testi .slide-testi-image .slick-next {
  background-color: #212428;
  width: 75px;
  height: 75px;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #c4cfde;
  display: flex;
  z-index: 2;
}
.testimonial-space .whole-testi .slide-testi-image .slick-prev {
  position: absolute;
  top: 0;
  right: 100px;
}
.testimonial-space .whole-testi .slide-testi-image .slick-next {
  position: absolute;
  top: 0;
  right: 0;
}

/*===============process-section===============*/
.review-space {
  padding: 50px 0;
}
.review-space .review-head {
  text-align: center;
}
.review-space .brand-slide .brand {
  background-color: #212428;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  margin: 30px;
  padding: 30px;
}
.review-space .brand-slide .brand img {
  width: 100%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

/*===============Plan-price-section===============*/
.our-price-plan {
  padding: 50px 0;
}
.our-price-plan .content-width {
  max-width: 750px;
  margin: 0 auto;
}
.our-price-plan .price-nav {
  display: flex;
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 15px;
  border: none;
}
.our-price-plan .price-nav a {
  text-align: center;
  font-size: 0.75rem;
  width: 33%;
  color: #c4cfde;
}
.our-price-plan .price-nav .active {
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border: none;
  border-radius: 15px;
}
.our-price-plan .price {
  padding: 30px;
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.our-price-plan .price h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}
.our-price-plan .price .tag {
  color: #F8024E;
  font-size: 0.75rem;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  padding: 10px;
  border-radius: 5px;
  padding-bottom: 15px;
}
.our-price-plan .price p {
  color: #878e99;
}
.our-price-plan .price ul {
  padding: 0 30px;
}
.our-price-plan .price ul li {
  color: #c4cfde;
  font-size: 0.75rem;
  padding: 5px 0;
}
.our-price-plan .price .order-btn {
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  color: #F8024E;
  font-size: 0.85rem;
  font-weight: 300;
  border-radius: 15px;
  padding: 18px 0;
}
.our-price-plan .price .order-bene {
  text-align: center;
  padding-top: 15px;
}

/*===============blog-section===============*/
.our-blog {
  padding: 50px 0;
}
.our-blog .blog {
  padding: 30px;
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 15px;
}
.our-blog .blog img {
  width: 100%;
  border-radius: 15px;
}
.our-blog .blog i {
  color: #c4cfde;
  font-size: 0.75rem;
}

/*===============contact-section===============*/
.contact-me {
  padding: 50px 0;
}
.contact-me .connect-now {
  padding: 35px;
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 25px;
}
.contact-me .connect-now img {
  width: 100%;
  border-radius: 25px;
}
.contact-me .connect-now h4 {
  padding: 30px 0 0 0;
}
.contact-me .connect-now p {
  padding: 15px 0;
}
.contact-me .connect-now .call-me a, .contact-me .connect-now .email-me a {
  color: #c4cfde;
  font-size: 0.85rem;
}
.contact-me .connect-now .social-icon {
  padding: 15px 0;
}
.contact-me .connect-now .social-icon .icon {
  display: flex;
  margin-top: 20px;
  color: #c4cfde;
  width: 65px;
  height: 65px;
  background-color: #1E2024;
  margin-right: 25px;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 5px;
}
.contact-me form label {
  color: #c4cfde;
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 10px;
}
.contact-me form input, .contact-me form textarea {
  background-color: #1E2024;
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 20px;
}
.contact-me form textarea {
  height: 235px;
  margin-bottom: 30px;
}
.contact-me form .form-btn {
  padding: 20px 0;
  background-color: #1E2024;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  color: #F8024E;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 15px;
}

/*===============footer-section===============*/
.footer-space {
  padding: 50px 0;
}
.footer-space .footer {
  text-align: center;
}
.footer-space .footer img {
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer-space .footer p {
  padding-top: 20px;
}
.footer-space .footer p abbr {
  color: #F8024E;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
}

/*===============header-section===============*//*# sourceMappingURL=style.css.map */