/*=============Color-variable===========*/
/*=============Font-variable===========*/
.home-space .home-intro .skill-lab .skill, .home-space .home-intro .icon, .navigation .nav-btn {
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 24px;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color: #212428;
}

.main-head {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}

.secondary-head {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}

.small-head {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}

.flex-content {
  display: flex;
  flex-wrap: wrap;
}

.title {
  color: #F8024E;
  font-size: 0.75rem;
  font-weight: 400;
  padding-bottom: 10px;
}

.para {
  font-size: 0.75rem;
  font-weight: 400;
  color: #c4cfde;
  padding-bottom: 10px;
  line-height: 1.5;
}

.title {
  font-size: 0.75rem;
  color: #F8024E;
  font-weight: 400;
  text-transform: uppercase;
}

.dif-title {
  font-size: 0.75rem;
  color: #c4cfde;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.max-width {
  max-width: 1366px;
}

.design-border {
  border-bottom: 3px solid #1E2024;
}

/*===============nav-section===============*/
.navigation {
  width: 100%;
  background-color: #212428;
  padding: 18px 15px;
  align-items: center;
  justify-content: space-between;
  /*=======menu-btn======*/
}
.navigation .nav-whole {
  padding: 0 50px;
}
.navigation .nav-whole li {
  margin-left: 25px;
  text-transform: uppercase;
}
.navigation .nav-whole li a {
  font-size: 0.75rem;
  color: #c4cfde;
}
.navigation .nav-whole li .icon {
  color: #c4cfde;
  display: none;
}
.navigation .nav-btn {
  width: 50px;
  height: 50px;
  position: relative;
  transition: all 0.4s linear;
  display: flex;
  border-radius: 5px;
  display: none;
}
.navigation .nav-btn::before {
  content: " ";
  position: absolute;
  width: 85%;
  height: 7%;
  border-radius: 3px;
  background-color: #F8024E;
  box-shadow: 0 15px 0 0 #F8024E;
  transform: translateY(-15px);
  transition: all 0.4s linear;
}
.navigation .nav-btn::after {
  content: " ";
  position: absolute;
  width: 85%;
  height: 7%;
  background-color: #F8024E;
  transform: translateY(15px);
  border-radius: 3px;
  transition: all 0.4s linear;
}
.navigation .nav-btn.active::before {
  box-shadow: none;
  transform: translateY(0) rotate(45deg);
}
.navigation .nav-btn.active::after {
  transform: translateY(0) rotate(-45deg);
}

.nav-rel {
  width: 100%;
  position: relative;
  background-color: transparent;
}

.nav-fixed {
  background-color: #1E2024;
  position: fixed;
  z-index: 10;
  transition: all 0.4s linear;
  -webkit-animation: fixedAni 0.8s linear;
          animation: fixedAni 0.8s linear;
}

@-webkit-keyframes fixedAni {}

@keyframes fixedAni {}
@media only screen and (max-width: 1200px) {
  .navigation {
    position: relative;
  }
  .navigation .nav-whole {
    border-radius: 5px;
    border: 2px solid #F8024E;
    padding: 20px 0;
    padding-right: 20px;
    position: absolute;
    right: 20px;
    top: 80px;
    display: none;
    transition: all 0.8s linear;
    width: 250px;
    flex-direction: column;
    background-color: #1E2024;
    z-index: 0;
    -webkit-animation: navAni 0.5s linear;
            animation: navAni 0.5s linear;
  }
  .navigation .nav-whole li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    text-align: left;
  }
  .navigation .nav-whole li .icon {
    width: 35px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #F8024E;
    display: inline;
  }
  .navigation .slide {
    display: block;
    transition: all 0.8s linear;
  }
  @-webkit-keyframes navAni {
    0% {
      opacity: 0.5;
      box-shadow: 0 0 1px 0 #F8024E;
    }
    25% {
      opacity: 0.7;
      box-shadow: 0 0 3px 0 #F8024E;
    }
    75% {
      opacity: 0.9;
      box-shadow: 0 0 4px 0 #F8024E;
    }
    100% {
      opacity: 1;
      box-shadow: 0 0 5px 0 #F8024E;
    }
  }
  @keyframes navAni {
    0% {
      opacity: 0.5;
      box-shadow: 0 0 1px 0 #F8024E;
    }
    25% {
      opacity: 0.7;
      box-shadow: 0 0 3px 0 #F8024E;
    }
    75% {
      opacity: 0.9;
      box-shadow: 0 0 4px 0 #F8024E;
    }
    100% {
      opacity: 1;
      box-shadow: 0 0 5px 0 #F8024E;
    }
  }
  .navigation .nav-whole::before {
    content: "";
    width: 75%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background-color: #F8024E;
  }
  .navigation .nav-btn {
    display: flex;
  }
}
/*===============header-section===============*/
.home-space {
  padding-bottom: 100px;
}
.home-space .home-intro {
  border-bottom: 2px solid #1E2024;
  padding: 50px 0;
}
.home-space .home-intro h1 {
  color: #fff;
  line-height: 1.2;
}
.home-space .home-intro h1 span {
  color: #F8024E;
}
.home-space .home-intro .icon {
  margin-top: 20px;
  color: #c4cfde;
  width: 65px;
  height: 65px;
  background-color: #1E2024;
  margin-right: 25px;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 5px;
}
.home-space .home-intro .skill-lab {
  margin-top: 20px;
}
.home-space .home-intro .skill-lab .skill {
  margin-right: 25px;
  width: 65px;
  height: 65px;
  background-color: #1E2024;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 5px;
}
.home-space .home-intro .skill-lab .skill img {
  width: 75%;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-space .image {
  position: relative;
  z-index: 0;
}
.home-space .image img {
  width: 100%;
  height: 700px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-space .image::before {
  content: "";
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  position: absolute;
  bottom: 0;
  transform: translateX(10%);
  width: 85%;
  height: 80%;
  z-index: -1;
}

/*===============perfomence-section===============*/
.feature-space {
  padding-top: 50px 0;
}
.feature-space h2 {
  color: #c4cfde;
}
.feature-space .facility svg {
  width: 50px;
  height: 50px;
  color: #F8024E;
  stroke: #F8024E;
  fill: none;
}/*# sourceMappingURL=style.css.map */