/*=============Color-variable===========*/
$mainbgColor: #212428;
$bgColor: #1E2024;
$primeColor: #F8024E;
$textColor: #c4cfde;
$headColor: #fff;
$secondheadColor: #878e99;
$shadowColor: #1c1e22;
$shadowBorder: #181a1d;
$shadowInset-2: #202225;
$shadowInset: #262a2e;

/*=============Font-variable===========*/
$headFont: 'Poppins', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
$shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
$shadow-2:inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
$inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
%mainBtn{
    padding: 12px 35px;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75rem;
    text-transform: uppercase;
    cursor: pointer;

}    
     
%flexCenter{
    justify-content: center;
    align-items: center;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
html,body{
    font-size: 24px;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-family: $headFont;
    background-color: $mainbgColor;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 7px;

}
body::-webkit-scrollbar-thumb{
    background-color: $primeColor;
    border-radius: 5px;
}
body::-webkit-scrollbar-track{
    box-shadow: $inner-shadow;
    background-color: $secondheadColor;

} 
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.main-head{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: $secondaryFont;
    padding-bottom: 10px;
    color: $textColor;

}
.secondary-head{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: $secondaryFont;
    padding-bottom: 10px;
    color: $textColor;
    line-height: 1.5;
}
.small-head{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: $secondaryFont;
    padding-bottom: 10px;
    color: $textColor;
    line-height: 1.5;
    
}
.flex-content{
    display: flex;
    flex-wrap: wrap;
}

.para{
    font-size: 0.75rem;
    font-weight: 400;
    color: $secondheadColor;
    padding-bottom: 10px;
    line-height: 1.5;
}
.title{
    font-size: 0.75rem;
    color: $primeColor;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 10px; 
    letter-spacing: 1px;
}
.dif-title{
    font-size: 0.75rem;
    color: $secondheadColor;
    font-weight: 400;
    text-transform: uppercase; 
    padding-bottom: 10px;


}
.max-width{
    max-width: 1366px;
    position: relative;
}
.max-width::before{
    content: "";
    margin-top: 30px;
    position: absolute;
    left: 0;    
    bottom: -60px;
    width: 100%;
    height: 5px;
    background-color: $bgColor;
}

.design-border{
    border-bottom: 3px solid $bgColor;
}
.slick-dots{
    display: flex;
    flex-wrap: wrap;
    @extend %flexCenter;

    li{
        height: 12px;
        width: 12px;
        display: flex;
        flex-wrap: wrap;
        @extend %flexCenter;
        border-radius: 50%;
        margin-right: 20px; 
        background-color: $primeColor;
        button{ 
            z-index: 0;
            box-shadow: $inner-shadow;
            width: 100%;    
            background-color: $mainbgColor;
            height: 100%;
            font-size: 0; 
            border: none;  
            border-radius: 50%;
            outline: none;
            cursor: pointer;
        }


    }

    .slick-active{
        background-color: $primeColor;  
    }
} 
.fixed-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $bgColor;
    box-shadow: $shadow;
    width: 75px;
    height: 75px;
    display: flex;
    @extend %flexCenter;
    border-radius: 5px;
    z-index: 100;
    transition: all 0.4s linear;
    a{
        color: $headColor
    }

}
.fixed-btn:hover{
    box-shadow: $shadow-2;

}
/*===============nav-section===============*/
@import "navCustom";   
/*===============header-section===============*/
@import "headerspace"; 
/*===============perfomence-section===============*/
@import "perform";
/*===============service-section===============*/
@import "portfolio";
/*===============repairs-section===============*/
@import "resume";
/*===============inforamtion-section===============*/
@import "testi";
/*===============process-section===============*/
@import "brand"; 
/*===============Plan-price-section===============*/
@import "plan";
/*===============blog-section===============*/
@import "blog";
/*===============contact-section===============*/
@import "contact";
/*===============footer-section===============*/
@import "footer";
/*===============media-section===============*/ 
@import "customMedia";
/*===============animation-section===============*/ 
@import "customanimate";